@model IEnumerable<BookingAppStore.Models.Book>
@{
    ViewBag.Title = "BookStore";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="indx">
        <h3>Доступные книги</h3>
        <table>
            <tr class="header">
                <td>Название книги</td>
                <td>Автор</td>
                <td>Цена</td>
                <td></td>
            </tr>
            @foreach (BookingAppStore.Models.Book b in Model)
            {
                <tr>
                    <td>@b.Name</td>
                    <td>@b.Author</td>
                    <td>@b.Price</td>
                    <td><a href="/Home/Buy/@b.Id">Купить</a></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>