
@{
    ViewBag.Title = "SearchBook";
}


<div class="indx Search">
    <form action="SearchBook" method="post">
        <p>Введите автора</p>
        <input class="form-control" type="text" name="Author" value="" />
        <br />
        <p>Введите книгу</p>
        <input class="form-control" type="text" name="BookName" value="" />
        <br />
        <input class="btn btn-primary" type="submit" name="name" value="Найти" />
    </form>
</div>