body {
    font-size: 25px;
    font-family: oblique;
    font-weight: normal;
    padding-top: 0px;
    padding-left: 0px;
}

a {

    text-decoration: none;
}

.menu {
    padding-left: 20px;
}



table {
    vertical-align: middle;
    text-align: left;
}


td {
    padding-right: 10px;
}

input {
    width: 150px;
}


.indx {
    margin-left: 100px;
    margin-top: 100px;
}

.buyForm {
    margin-left: 100px;
    margin-top: 100px;
}

.Search input {
    max-width: 500px;
}