body {
    font-size: 25px;
    font-family: oblique;
    font-weight: normal;
}

a {

    text-decoration: none;
}

.menu {
    padding-left: 20px;
}



table {
    vertical-align: middle;
    text-align: left;
}


td {
    padding-right: 10px;
}

input {
    width: 150px;
}


.indx {
    margin-left: 100px;
    margin-top: 100px;
}

.buyForm {
    margin-left: 100px;
    margin-top: 100px;
}

.Search input {
    max-width: 500px;
}

.editPage {
    margin-left: 100px;
    margin-top: 100px;
    max-width: 1000px !important;
    
}

.editPage input {
    max-width: 500px;
}

fieldset {
    border: 1px solid #ddd !important;
    margin: 0;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    background-color: #f5f5f5;
    padding-left: 10px !important;
}

legend {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    width: 35%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    background-color: #ffffff;
}